[Unit]
Description=Hourly ChebyCodex Relay TLS monitor

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
